# Node (server)
server/node_modules/
server/.env
server/dist/
server/coverage/

# React (client)
client/node_modules/
client/.env
client/build/
client/dist/
client/coverage/

# General
*.log
*.tmp
*.swp
.DS_Store
